:root {
  --green: #165b39;
  --white: #F9F9F9;
  --bg-gray: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

main {
  background-color: var(--bg-gray);
  padding: 1em;
}

section {
  padding: 1em 0;
}

a {
  text-decoration: none;
  color: var(--green);
}

a:hover {
  color: var(--white);
  background-color: var(--green);
}

h1, h2 {
  font-family: 'Tahoma', sans-serif;
  color: var(--green);
}

h1, h2, h3, p {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  margin: 0.5em 0;
}

p {
  margin: 0.8em 0;
  line-height: 1.4;
}

img {
  display: block;
  padding: 1em 3em 0.6em;
  width: 80%;
  margin: 0 auto;
}

#img-caption {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#img-div {
  background: rgb(113,162,220);
  background: linear-gradient(180deg, rgba(113,162,220,1) 0%, rgba(22,91,77,0.4500393907563025) 90%);
  padding: 1.5em 0;
  border-radius: 15px;
  margin: 0 auto;
}

#image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#tribute-info {
  max-width:  75%;
  margin: 1em auto 2em;
}

span {
  font-weight: 600;
}

span::after {
  content: " - ";
}

ul {
  margin-bottom: 3em;
}

#work-list {
  padding-top: 0.4em;
}

#about {
  margin: 0 auto;
  padding-bottom: 2em;
}

ul > li {
  padding: 0.35em;
  line-height: 1.2;
}

#box-quote {
  margin-top: 2.2em;
  padding: 0 1em;
  font-style: italic;
}

#visit {
  margin-bottom: 2em;
  
}
